<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"is-style-default","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-default"><!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 498 876" class="error-page-section--triangle">
    <path d="M0 434h497L0 875.5z" fill="
#d2b391"/>
    <path d="M0 438.5h497L0 0z" fill="
#d2b391"/>
</svg>
<!-- /wp:html -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|40","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center has-x-large-font-size">Sorry! We could not find the page</h2>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Sorry, it looks like the page you are trying to reach can not be found.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textAlign":"center","className":"cta\u002d\u002dbeige","style":{"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}}} -->
<div class="wp-block-button cta--beige"><a class="wp-block-button__link has-text-align-center wp-element-button" href="http://ellura-collections.local/" style="border-top-left-radius:16px;border-top-right-radius:16px;border-bottom-left-radius:16px;border-bottom-right-radius:16px">Back to Homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->