<!-- wp:template-part {"slug":"header","theme":"elluratheme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"metadata":{"name":"hero"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size"><strong>HIGH QUALITY MODEST CLOTHING &amp; ACCESSORIES</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Discover Ellura Collection’s timeless clothing and accessories, thoughtfully designed for comfort and long-lasting quality.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Shop Women’s Collection</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph -->
<p>Image here</p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"collection"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size"><strong>DISCOVER OUR LARGE COLLECTION</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Ellura’s curated collection offers modest clothing and accessories for women and children, as well as elegant thobes for men. As part of our collection, we also offer sajada’s (prayer mats). Our entire collection has been thoughtfully curated, and sells across all of Canada.</p>
<!-- /wp:paragraph -->

<!-- wp:group {"metadata":{"name":"women's"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">WOMEN’S</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Discover a variety of hijabs, abayas, dresses, and accessories. Our women’s collection is designed for comfort and a modest style.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Explore Women's</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"men's"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">MEN'S</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Discover several sleak thobes, designed with durability in mind.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Explore Men's</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Children's"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Two images here for card</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">CHILDREN'S</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">The perfect place to find a variety of hijabs, abayas and crowns for girls, as well as thobes for boys.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Explore Children's</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"essentials"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">BRING SERENITY TO YOUR HOME WITH OUR ESSENTIALS</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Explore our collection of different sajadas (prayer mats), perfect for prayer, reflection and bringing a sense of tranquility to your wellbeing and home.</p>
<!-- /wp:paragraph -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><!-- wp:paragraph -->
<p>two images here</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Explore Essentials</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"newest products"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">NEWEST PRODUCTS</h2>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"White Cotton Thobe"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">White Cotton Thobe</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size"><strong>$20.99</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"2 Piece Green Hijab"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">2 Piece Green Hijab</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size"><strong>$34.99</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"2 Piece Beige Hijab"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">2 Piece Beige Hijab</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size"><strong>$23.99</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"best sellers"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">BEST SELLERS</h2>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"2 Piece Chiffon Hijab"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">2 Piece Chiffon Hijab</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size"><strong>$19.99</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">stars rating here</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"2 Piece Beige Hijab"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>image here for card</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">2 Piece Beige Hijab</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size"><strong>$26.99</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">stars rating here</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size">DELIVERING QUALITY MODESTY &amp; ELEGANCE</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Our curated collection, imported from Turkey, delivers comfort, quality and elegance across Canada. Ellura Collection is commited to providing modest fashion you can count on.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"medium"} -->
<h3 class="wp-block-heading has-medium-font-size">QUALITY YOU CAN COUNT ON</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">We have been in the boutique industry since 2005, selling within Edmonton, Canada. Ellura Collection is our next step, expanding our experience, quality and commitment to all of Canada. Our priority is to provide you with clothing and accessories that you can count on for the long term.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elluratheme","tagName":"footer","className":"site-footer"} /-->