<!-- wp:template-part {"slug":"header","theme":"elluratheme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"48px"}}} -->
<h1 class="wp-block-heading has-text-align-center" style="font-size:48px"><strong>HIGH QUALITY MODEST
                    CLOTHING &amp; ACCESSORIES</strong></h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left","fontSize":"extra-small"} -->
<p class="has-text-align-left has-extra-small-font-size">Discover Ellura Collection’s timeless clothing and
                accessories, thoughtfully designed for comfort and long-lasting quality.</p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)"/>
<!-- /wp:separator -->

<!-- wp:buttons {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:button {"textAlign":"center","style":{"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button" style="border-top-left-radius:16px;border-top-right-radius:16px;border-bottom-left-radius:16px;border-bottom-right-radius:16px">Check Out Our Home Page</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:template-part {"slug":"footer","theme":"elluratheme","tagName":"footer","className":"site-footer"} /-->