<!-- wp:template-part {"slug":"header","theme":"elluracollection","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"top-level-page-desktop-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group top-level-page-desktop-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M1.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L1.6 5.5v112H-.7V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L99.6 5.5v112h-2.3V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L197.6 5.5v112h-2.2V.5zM1.6 116.1v1.6L98.5 232l.9 1h-2.8l-.2-.2L1.6 121v112H-.7V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6 116.1v1.6L196.5 232l.9 1h-2.8l-.2-.2L99.6 121v112h-2.3V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6 116.1v1.6L294.5 232l.9 1h-2.8l-.2-.2L197.6 121v112h-2.2V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
<!-- /wp:html -->

<!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M295.18.65v1.57L198.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18.65v1.57L100.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18.65v1.57L2.3 116.38l-.9 1.07h2.8l.2-.23L99.17 5.52v111.93h2.28V.65zm196 115.5v1.57L198.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18 116.15v1.57L100.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18 116.15v1.57L2.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"top-level-page-mobile-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group top-level-page-mobile-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 97" class="top-level-page-svg">
                        <path d="M.543.504v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 2.64v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876.504v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 2.64v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21.504v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 2.64v45.864h-.793v-48zM.543 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 50.14v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
<!-- /wp:html -->

<!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 94" class="top-level-page-svg">
                        <path d="M88.37.489v.636L59.367 46.604l-.245.385h.92l.075-.115L88.37 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 2.57v44.419h.793V.489zm58.668 46v.636L59.367 92.604l-.245.385h.92l.075-.115L88.37 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036 46.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702 46.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"mens-top-level-content-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group mens-top-level-content-container" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:post-title {"textAlign":"center","level":1,"className":"about-us-page-heading","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"medium"} /-->

<!-- wp:group {"className":"main-level-page-heading","layout":{"type":"constrained"}} -->
<div class="wp-block-group main-level-page-heading"><!-- wp:shortcode -->
[inside_site_title]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"4rem"}},"color":{"background":"#242424"}},"textColor":"base","layout":{"type":"constrained","contentSize":"750px"}} -->
<div class="wp-block-group has-base-color has-text-color has-background has-link-color" style="background-color:#242424;margin-top:4rem;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"tagName":"section","style":{"spacing":{"blockGap":"0","padding":{"top":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<section class="wp-block-group" style="padding-top:0"><!-- wp:post-featured-image {"width":"300px","height":"","style":{"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"left":"var:preset|spacing|50","right":"var:preset|spacing|50","top":"1.5rem","bottom":"1.5rem"}}},"layout":{"type":"constrained","contentSize":"385px"}} -->
<div class="wp-block-group" style="padding-top:1.5rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:1.5rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:shortcode -->
[making_site_title]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"fontSize":"extra-small","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"7rem","bottom":"8.5rem"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:7rem;padding-bottom:8.5rem"><!-- wp:query {"queryId":6,"query":{"perPage":1,"pages":0,"offset":"0","postType":"about-page","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"610px"}} -->
<!-- wp:post-title {"textAlign":"center","align":"wide","style":{"spacing":{"padding":{"top":"0rem","bottom":"0rem","left":"0","right":"0"},"margin":{"top":"0","left":"0","right":"0","bottom":"3rem"}}},"fontSize":"x-large"} /-->

<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0","right":"0","left":"0"},"margin":{"right":"0","left":"0","top":"3rem"}}},"layout":{"type":"constrained","contentSize":"504px","justifyContent":"center"}} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"6rem","bottom":"6rem"}}},"layout":{"type":"constrained","contentSize":"1120px"}} -->
<div class="wp-block-group" style="margin-top:6rem;margin-bottom:6rem;padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:query {"queryId":47,"query":{"perPage":2,"pages":0,"offset":0,"postType":"about-page","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[67]},"parents":[],"format":[]},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|60","bottom":"var:preset|spacing|50","left":"var:preset|spacing|60"}},"color":{"background":"#d2b391"},"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}},"dimensions":{"minHeight":"100%"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="border-top-left-radius:16px;border-top-right-radius:16px;border-bottom-left-radius:16px;border-bottom-right-radius:16px;background-color:#d2b391;min-height:100%;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-title {"isLink":true,"fontSize":"medium"} /-->

<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"extra-small"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":57,"query":{"perPage":100,"pages":0,"offset":"1","postType":"about-page","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"meta_query":{"queries":[]},"exclude_current":false,"tax_query":{"relation":"OR","queries":[{"id":"b43f264a-d7f3-495e-bc89-1b18e2cae38d","taxonomy":"post_tag","terms":["Badge"],"include_children":true,"operator":"NOT IN"}]}},"namespace":"advanced-query-loop"} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"610px"}} -->
<!-- wp:post-title {"textAlign":"center","align":"wide","style":{"spacing":{"padding":{"top":"0rem","bottom":"0rem","left":"0","right":"0"},"margin":{"top":"0","left":"0","right":"0","bottom":"3rem"}}},"fontSize":"x-large"} /-->

<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0","right":"0","left":"0"},"margin":{"right":"0","left":"0","top":"3rem"}}},"layout":{"type":"constrained","contentSize":"504px","justifyContent":"center"}} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elluracollection","tagName":"footer","className":"site-footer"} /-->