<!-- wp:template-part {"slug":"header","theme":"elluracollection","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"medium"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center","verticalAlignment":"stretch"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">INSIDE</h2>
<!-- /wp:heading -->

<!-- wp:site-title {"level":2,"isLink":false,"style":{"layout":{"selfStretch":"fit","flexSize":null},"typography":{"textTransform":"uppercase"}},"fontSize":"large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"750px"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"section","style":{"spacing":{"blockGap":"0","padding":{"top":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<section class="wp-block-group" style="padding-top:0"><!-- wp:post-featured-image {"width":"300px","height":"","style":{"border":{"radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}}} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"385px"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">THE MAKING OF</h2>
<!-- /wp:heading -->

<!-- wp:site-title {"level":2,"textAlign":"left","isLink":false,"style":{"layout":{"selfStretch":"fit","flexSize":null},"typography":{"textTransform":"uppercase"}},"fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"fontSize":"extra-small","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></section>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">THE PRINCIPLES WE LIVE BY</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>At Ellura Collection, we strive to offer our customers the best products and shopping experience. We also believe in the importance of staying connected to our customers. Customers are encouraged to let us know of any feedback and ways we can improve.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","orientation":"horizontal"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"section","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"border":{"width":"0px","style":"none","radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}},"backgroundColor":"luminous-vivid-amber","layout":{"type":"constrained"}} -->
<section class="wp-block-group has-luminous-vivid-amber-background-color has-background" style="border-style:none;border-width:0px;border-top-left-radius:16px;border-top-right-radius:16px;border-bottom-left-radius:16px;border-bottom-right-radius:16px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">SECURITY</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Our collection of clothing is imported from Turkey, and is carefully selected to ensure durability for our customers.</p>
<!-- /wp:paragraph --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"border":{"width":"0px","style":"none","radius":{"topLeft":"16px","topRight":"16px","bottomLeft":"16px","bottomRight":"16px"}}},"backgroundColor":"luminous-vivid-amber","layout":{"type":"constrained"}} -->
<section class="wp-block-group has-luminous-vivid-amber-background-color has-background" style="border-style:none;border-width:0px;border-top-left-radius:16px;border-top-right-radius:16px;border-bottom-left-radius:16px;border-bottom-right-radius:16px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">SECURITY</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"extra-small"} -->
<p class="has-extra-small-font-size">Our collection of clothing is imported from Turkey, and is carefully selected to ensure durability for our customers.</p>
<!-- /wp:paragraph --></section>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
<section class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">ELEVATING THE EXPERIENCE</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">At Ellura Collection, we believe in modesty coexisting with comfort and elegance. Our entire collection is thoughtfully curated to reflect a timeless style.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Our clothing is designed to be versatile, and is suited for a variety of different occasions. Whether it’s Eid, everyday life or travel, you can stay assured knowing that our clothing perfectly complements your lifestyle with lasting quality and elegance.</p>
<!-- /wp:paragraph --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"elluracollection","tagName":"footer","className":"site-footer"} /-->