<!-- wp:template-part {"slug":"header","theme":"bee-inc","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","fontSize":"xx-large"} -->
<h2 class="wp-block-heading has-text-align-center has-xx-large-font-size">Contact Us</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<!-- /wp:paragraph -->

<!-- wp:contact-form-7/contact-form-selector {"id":61,"hash":"5ca10fe","title":"Contact form"} -->
<div class="wp-block-contact-form-7-contact-form-selector">[contact-form-7 id="5ca10fe" title="Contact form"]</div>
<!-- /wp:contact-form-7/contact-form-selector --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"bee-inc","tagName":"footer","className":"site-footer"} /-->