<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"top-level-page-desktop-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group top-level-page-desktop-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M1.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L1.6 5.5v112H-.7V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L99.6 5.5v112h-2.3V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L197.6 5.5v112h-2.2V.5zM1.6 116.1v1.6L98.5 232l.9 1h-2.8l-.2-.2L1.6 121v112H-.7V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6 116.1v1.6L196.5 232l.9 1h-2.8l-.2-.2L99.6 121v112h-2.3V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6 116.1v1.6L294.5 232l.9 1h-2.8l-.2-.2L197.6 121v112h-2.2V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
<!-- /wp:html -->

<!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M295.18.65v1.57L198.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18.65v1.57L100.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18.65v1.57L2.3 116.38l-.9 1.07h2.8l.2-.23L99.17 5.52v111.93h2.28V.65zm196 115.5v1.57L198.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18 116.15v1.57L100.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18 116.15v1.57L2.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"top-level-page-mobile-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group top-level-page-mobile-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 97" class="top-level-page-svg">
                        <path d="M.543.504v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 2.64v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876.504v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 2.64v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21.504v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 2.64v45.864h-.793v-48zM.543 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 50.14v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
<!-- /wp:html -->

<!-- wp:html -->
<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 94" class="top-level-page-svg">
                        <path d="M88.37.489v.636L59.367 46.604l-.245.385h.92l.075-.115L88.37 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 2.57v44.419h.793V.489zm58.668 46v.636L59.367 92.604l-.245.385h.92l.075-.115L88.37 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036 46.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702 46.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
<!-- /wp:html --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"mens-top-level-content-container","style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group mens-top-level-content-container" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-title {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}}} /--></section>
<!-- /wp:group -->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->


<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->