<!-- wp:template-part {"slug":"header","theme":"elluracollection","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Effective Date: March 5,2026</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>This Privacy Policy describes how <strong>Ellura Collections</strong> collects, uses, and protects your personal information when you use our website and services. It also explains the choices you have regarding how your information is collected and used. If you have any questions, please do not hesitate to contact us.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":16,"query":{"perPage":100,"pages":0,"offset":0,"postType":"privacy-policy-page","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-content {"style":{"spacing":{"blockGap":"0"}}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"elluracollection","tagName":"footer","className":"site-footer"} /-->