<!-- wp:template-part {"slug":"header","theme":"elluratheme","area":"header"} /-->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--30);margin-left:var(--wp--preset--spacing--30)">Effective Date: March 5, 2026</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)">Thank you for shopping with <strong>Ellura Collections</strong>. Please note that <strong>all items sold by Ellura Collections are final sale</strong>. This means that <strong>we do not accept returns, exchanges, or offer refunds</strong> on any purchases, except in cases where the item is <strong>damaged or defective upon arrival</strong>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)"><strong>1. Non-Returnable Items</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)">All other items, including those that are <strong>unused, unwanted, or purchased in error</strong>, <strong>cannot be returned or exchanged</strong>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)"><strong>2. Order Confirmation</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)">Please carefully review your order before completing your purchase. Since all items are final sale, <strong>Ellura Collections is unable to cancel or modify orders once placed</strong>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)"><strong>3. Contact Us</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50)">For questions about damaged or defective items, contact us. (Insert link soon)</p>
<!-- /wp:paragraph -->

<!-- wp:template-part {"slug":"footer","theme":"elluratheme","area":"footer"} /-->