<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"top-level-page-desktop-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group top-level-page-desktop-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M1.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L1.6 5.5v112H-.7V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L99.6 5.5v112h-2.3V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L197.6 5.5v112h-2.2V.5zM1.6 116.1v1.6L98.5 232l.9 1h-2.8l-.2-.2L1.6 121v112H-.7V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6 116.1v1.6L196.5 232l.9 1h-2.8l-.2-.2L99.6 121v112h-2.3V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6 116.1v1.6L294.5 232l.9 1h-2.8l-.2-.2L197.6 121v112h-2.2V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
    <!-- /wp:html -->
    
    <!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M295.18.65v1.57L198.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18.65v1.57L100.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18.65v1.57L2.3 116.38l-.9 1.07h2.8l.2-.23L99.17 5.52v111.93h2.28V.65zm196 115.5v1.57L198.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18 116.15v1.57L100.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18 116.15v1.57L2.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
    <!-- /wp:html --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"top-level-page-mobile-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group top-level-page-mobile-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 97" class="top-level-page-svg">
                        <path d="M.543.504v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 2.64v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876.504v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 2.64v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21.504v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 2.64v45.864h-.793v-48zM.543 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 50.14v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
    <!-- /wp:html -->
    
    <!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 94" class="top-level-page-svg">
                        <path d="M88.37.489v.636L59.367 46.604l-.245.385h.92l.075-.115L88.37 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 2.57v44.419h.793V.489zm58.668 46v.636L59.367 92.604l-.245.385h.92l.075-.115L88.37 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036 46.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702 46.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
    <!-- /wp:html --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"section","className":"mens-top-level-content-container","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <section class="wp-block-group mens-top-level-content-container"><!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"1rem"}},"fontFamily":"poppins"} -->
    <p class="has-text-align-center has-poppins-font-family" style="font-size:1rem"><strong>WOMEN'S</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:heading {"level":1,"className":"main-level-page-heading"} -->
    <h1 class="wp-block-heading main-level-page-heading">MODEST BLOOM</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"className":"mens-content","layout":{"type":"constrained","wideSize":"37.5rem"}} -->
    <div class="wp-block-group mens-content"><!-- wp:term-description /--></div>
    <!-- /wp:group --></section>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","className":"thobes-container mens-container first-product-section","style":{"spacing":{"padding":{"bottom":"4rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide thobes-container mens-container first-product-section" style="padding-bottom:4rem"><!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">HIJABS</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":70,"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[23]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price product-price","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">ABAYAS</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":71,"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[24]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents ","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price product-price","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","className":"thobes-container mens-container first-product-section","style":{"spacing":{"padding":{"bottom":"4rem"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide thobes-container mens-container first-product-section has-base-background-color has-background" style="padding-bottom:4rem"><!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">EVENING GOWNS</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":72,"query":{"perPage":7,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[25]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price product-price","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","className":"thobes-container mens-container first-product-section","style":{"spacing":{"padding":{"bottom":"4rem"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide thobes-container mens-container first-product-section has-base-background-color has-background" style="padding-bottom:4rem"><!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">DRESSES</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":73,"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[27]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price product-price","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","className":"thobes-container mens-container first-product-section","style":{"spacing":{"padding":{"bottom":"4rem"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide thobes-container mens-container first-product-section has-base-background-color has-background" style="padding-bottom:4rem"><!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">SKIRT SET</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":74,"query":{"perPage":6,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[28]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price product-price","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">BLAZER &amp; PANT SET</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":75,"query":{"perPage":6,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[29]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price product-price","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","className":"thobes-container mens-container first-product-section","style":{"spacing":{"padding":{"bottom":"4rem"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide thobes-container mens-container first-product-section has-base-background-color has-background" style="padding-bottom:4rem"><!-- wp:group {"tagName":"section","layout":{"type":"constrained","wideSize":"76.75rem"}} -->
    <section class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"thobes\u002d\u002dcontainer-heading"} -->
    <h2 class="wp-block-heading has-text-align-center thobes--container-heading">ACCESSORIES</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-collection {"queryId":76,"query":{"perPage":4,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":false,"taxQuery":{"product_cat":[26]},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":4,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"product-section"} -->
    <div class="wp-block-woocommerce-product-collection product-section"><!-- wp:woocommerce/product-template {"className":"mens-products\u002d\u002dcard"} -->
    <!-- wp:group {"className":"product-card","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group product-card tw-stretched-link"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"className":"product-image"} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"className":"mens-products\u002d\u002dcard-contents","layout":{"type":"constrained"}} -->
    <div class="wp-block-group mens-products--card-contents"><!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading text-price-add-to-cart-spacing","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"small","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","className":"mens-product\u002d\u002dcard-price text-price-add-to-cart-spacing product-price","fontSize":"small"} /-->
    
    <!-- wp:woocommerce/product-button {"isDescendentOfQueryLoop":true} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/product-template --></div>
    <!-- /wp:woocommerce/product-collection --></section>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->