<!-- wp:woocommerce/category-title /-->

<!-- wp:woocommerce/category-description /-->

<!-- wp:woocommerce/product-collection {"query":{"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","search":"","exclude":[],"inherit":true,"taxQuery":{},"isProductCollectionBlock":true,"featured":false,"woocommerceOnSale":false,"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceAttributes":[],"woocommerceHandPickedProducts":[],"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":5,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"collection":"woocommerce/product-collection/by-category","hideControls":["inherit","hand-picked","filterable"],"queryContextIncludes":["collection"]} -->
<div class="wp-block-woocommerce-product-collection"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"1rem"}}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="margin-bottom:1rem">Products by Category</h2>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/product-template -->
    <!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail"} -->
    <div class="is-loading"></div>
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:post-title {"textAlign":"center","isLink":true,"style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}},"typography":{"lineHeight":"1.4"}},"fontSize":"medium","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"textAlign":"center","fontSize":"small"} -->
    <div class="is-loading"></div>
    <!-- /wp:woocommerce/product-price -->
    
    <!-- wp:woocommerce/product-button {"textAlign":"center","className":"is-style-fill","fontSize":"small"} /-->
    <!-- /wp:woocommerce/product-template -->
    
    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} /--></div>
    <!-- /wp:woocommerce/product-collection -->