<!-- wp:template-part {"slug":"header","theme":"elluracollection","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"className":"top-level-page-desktop-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group top-level-page-desktop-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M1.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L1.6 5.5v112H-.7V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L99.6 5.5v112h-2.3V.5z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6.6v1.6l96.9 114.2.9 1h-2.8l-.2-.2L197.6 5.5v112h-2.2V.5zM1.6 116.1v1.6L98.5 232l.9 1h-2.8l-.2-.2L1.6 121v112H-.7V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.6 116.1v1.6L196.5 232l.9 1h-2.8l-.2-.2L99.6 121v112h-2.3V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.6 116.1v1.6L294.5 232l.9 1h-2.8l-.2-.2L197.6 121v112h-2.2V116z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
    <!-- /wp:html -->
    
    <!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 234" class="top-level-page-svg">
                    <path d="M295.18.65v1.57L198.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18.65v1.57L100.3 116.38l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28V.65z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18.65v1.57L2.3 116.38l-.9 1.07h2.8l.2-.23L99.17 5.52v111.93h2.28V.65zm196 115.5v1.57L198.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M197.18 116.15v1.57L100.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                    <path d="M99.18 116.15v1.57L2.3 231.88l-.9 1.07h2.8l.2-.23 94.77-111.7v111.93h2.28v-116.8z" fill="#d2b391" stroke="#d2b391" stroke-width="1.3"/>
                </svg>
    <!-- /wp:html --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"top-level-page-mobile-svg-container","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group top-level-page-mobile-svg-container" style="margin-top:0;margin-bottom:0"><!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 97" class="top-level-page-svg">
                        <path d="M.543.504v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 2.64v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876.504v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 2.64v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21.504v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 2.64v45.864h-.793v-48zM.543 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L.543 50.14v45.864H-.25v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.876 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L29.876 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.21 48.004v.653l29.003 46.965.235.382h-.916l-.073-.118L59.21 50.14v45.864h-.793v-48z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
    <!-- /wp:html -->
    
    <!-- wp:html -->
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89 94" class="top-level-page-svg">
                        <path d="M88.37.489v.636L59.367 46.604l-.245.385h.92l.075-.115L88.37 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 2.57v44.419h.793V.489z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 2.57v44.419h.793V.489zm58.668 46v.636L59.367 92.604l-.245.385h.92l.075-.115L88.37 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M59.036 46.489v.636l-29 45.479-.246.385h.92l.075-.115L59.036 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                        <path d="M29.702 46.489v.636l-29 45.479-.246.385h.92l.075-.115L29.702 48.57v44.419h.793v-46.5z" fill="#d2b391" stroke="#d2b391" stroke-width=".5"/>
                    </svg>
    <!-- /wp:html --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"section","className":"mens-top-level-content-container","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <section class="wp-block-group mens-top-level-content-container"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->
    
    <!-- wp:heading {"className":"main-level-page-heading"} -->
    <h2 class="wp-block-heading main-level-page-heading">DYNAMIC WITH ACF</h2>
    <!-- /wp:heading -->
    
    <!-- wp:group {"className":"mens-content","layout":{"type":"constrained","wideSize":"37.5rem"}} -->
    <div class="wp-block-group mens-content"><!-- wp:term-description /--></div>
    <!-- /wp:group --></section>
    <!-- /wp:group -->
    
    <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"4rem"}}}} -->
    <div class="wp-block-columns alignwide" style="margin-top:4rem"><!-- wp:column {"width":"20%"} -->
    <div class="wp-block-column" style="flex-basis:20%"><!-- wp:woocommerce/filter-wrapper {"filterType":"price-filter","heading":"Filter by price","className":"product-archive-list-container\u002d\u002dprice-filter-container"} -->
    <div class="wp-block-woocommerce-filter-wrapper product-archive-list-container--price-filter-container"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><strong>Filter by Price</strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/price-filter {"heading":"","lock":{"remove":true}} -->
    <div class="wp-block-woocommerce-price-filter is-loading"><span aria-hidden="true" class="wc-block-product-categories__placeholder"></span></div>
    <!-- /wp:woocommerce/price-filter --></div>
    <!-- /wp:woocommerce/filter-wrapper -->
    
    <!-- wp:woocommerce/filter-wrapper {"filterType":"attribute-filter","heading":"Filter by color"} -->
    <div class="wp-block-woocommerce-filter-wrapper"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><strong>Filter by Size</strong></h3>
    <!-- /wp:heading -->
    
    <!-- wp:woocommerce/attribute-filter {"attributeId":2,"heading":"","lock":{"remove":true}} -->
    <div class="wp-block-woocommerce-attribute-filter is-loading"></div>
    <!-- /wp:woocommerce/attribute-filter --></div>
    <!-- /wp:woocommerce/filter-wrapper --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"80%","className":"archive-product-container"} -->
    <div class="wp-block-column archive-product-container" style="flex-basis:80%"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"__woocommerceAttributes":[],"__woocommerceStockStatus":["instock","outofstock","onbackorder"]},"namespace":"woocommerce/product-query"} -->
    <div class="wp-block-query"><!-- wp:post-template {"className":"products-block-post-template","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null},"twColumnWidth":"small","__woocommerceNamespace":"woocommerce/product-query/product-template"} -->
    <!-- wp:group {"style":{"color":{"background":"#242424"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":{"topLeft":"1rem","topRight":"1rem","bottomLeft":"1rem","bottomRight":"1rem"},"width":"0rem","style":"none"},"spacing":{"padding":{"top":"0rem","bottom":"0rem"}}},"textColor":"base","layout":{"type":"constrained"},"twStretchedLink":true} -->
    <div class="wp-block-group has-base-color has-text-color has-background has-link-color tw-stretched-link" style="border-style:none;border-width:0rem;border-top-left-radius:1rem;border-top-right-radius:1rem;border-bottom-left-radius:1rem;border-bottom-right-radius:1rem;background-color:#242424;padding-top:0rem;padding-bottom:0rem"><!-- wp:woocommerce/product-image {"showSaleBadge":false,"imageSizing":"thumbnail","isDescendentOfQueryLoop":true} -->
    <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
    <!-- /wp:woocommerce/product-image -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"2rem","left":"2rem","right":"2rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-right:2rem;padding-bottom:2rem;padding-left:2rem"><!-- wp:post-title {"textAlign":"left","level":3,"isLink":true,"className":"mens-product\u002d\u002dcard-heading .text-price-add-to-cart-spacing","style":{"spacing":{"margin":{"bottom":"0.75rem","top":"0"}}},"fontSize":"medium","__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->
    
    <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"left","className":"mens-product\u002d\u002dcard-price .text-price-add-to-cart-spacing","textColor":"base","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"paginationArrow":"arrow","align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"elluracollection","tagName":"footer","className":"site-footer"} /-->